In [289]:
import pandas as pd
import numpy as np

In [380]:
world = pd.read_csv('/Users/zachwayne/Dropbox (MIT)/Netflix - Seize the Data/all-weeks-countries.tsv', sep='\t')
shows = pd.read_csv('/Users/zachwayne/Dropbox (MIT)/Netflix - Seize the Data/complete_manually_cleaned_data.csv')

In [381]:
# drop world data for all countries except France
world = world[world['country_name'] == 'United States']
# delete duplicate rows, keeping the one with the highest number of cumulative_weeks_in_top_10
world = world.drop_duplicates(subset='show_title', keep='first')

In [382]:
world.head()

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
118180,United States,US,2022-10-02,Films,1,Lou,NaN,2
118181,United States,US,2022-10-02,Films,2,Blonde,NaN,1
118182,United States,US,2022-10-02,Films,3,A Jazzman's Blues,NaN,2
118183,United States,US,2022-10-02,Films,4,Last Seen Alive,NaN,1
118184,United States,US,2022-10-02,Films,5,Inheritance,NaN,1

In [383]:
shows.head()

,combined_title,release_year,release_date,is_top10,title,season,is_tv_show,tconst,averageRating,numVotes,titleType,runtimeMinutes,genres
0,#blackAF: Season 1,2020,20200417,False,blackaf,1.0,True,tt10311562,6.8,4892.0,tvSeries,36,Comedy
1,(Un)Well: Season 1,2020,20200812,False,unwell,1.0,True,tt12759384,6.4,1091.0,tvSeries,\N,Documentary
2,10 Days With Santa Claus,2020,20201204,False,10 days with santa claus,NaN,False,tt10803866,6.1,856.0,movie,100,"Comedy,Family"
3,100 Humans: Season 1,2020,20200313,False,100 humans,1.0,True,tt11823088,5.8,4153.0,tvSeries,\N,Reality-TV
4,1000 Miles from Christmas,2021,20211224,True,1000 miles from christmas,NaN,False,tt13782052,5.8,1531.0,movie,102,"Comedy,Romance"

In [384]:
# if combined_title contrains : Season, then take everything before the : Season
shows['combined_title'] = shows['combined_title'].str.split(': Season').str[0]

In [385]:
# if world show_title is in shows title, add the cumulative_weeks_in_top_10 to shows dataframe
shows['cumulative_weeks_in_top_10'] = np.nan
for i in range(len(world)):
    for j in range(len(shows)):
        if shows.iloc[j, 4].lower() == world.iloc[i, 5].lower():
            shows.iloc[j, 13] = world.iloc[i, 7]
# fill in the rest of the cumulative_weeks_in_top_10 with 0
shows['cumulative_weeks_in_top_10'] = shows['cumulative_weeks_in_top_10'].fillna(0)

In [386]:
shows = shows[shows['release_date'] > 20210601]

In [387]:
shows.value_counts('cumulative_weeks_in_top_10')

cumulative_weeks_in_top_10
0.0     938
2.0      64
1.0      52
3.0      31
4.0      23
5.0       5
6.0       5
8.0       4
7.0       2
9.0       1
11.0      1
14.0      1
dtype: int64

In [388]:
# save to csv
shows.to_csv('/Users/zachwayne/Downloads/US.csv', index=False)